
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.App {
    text-align: center;
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
}
.counter {
    padding: 10px 20px;
    margin: 10px;
    font-size: 16px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;

}