* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.counter {
  text-align: center;
  font-family: Arial, sans-serif;
  background-color: #f5f5f5;
  padding: 50px 80px;
  margin: 10px;
  font-size: 16px;
  cursor: pointer;
  align-items: center;
  justify-content: center;
}
